@page "/"
@using GameCatalog.Data;

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>

@*<button @onclick="ReadFromSql">Read From Sql</button>*@

@if (gameList == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var game in gameList)
            {
                        <tr>
                            <td>@game.Id</td>
                            <td>@game.GameName</td>
                            <td>@game.Genre</td>
                            <td>@game.Price</td>
                            <td><button @onclick="() => DeleteFromSql(game.Id)" class="btn btn-danger"><i class="oi oi-x"></i></button></td>
                                     <td><button @onclick="() => UpdateFromSql(game.Id)" class="btn btn-primary"><i class="oi oi-pencil"></i></button></td>
                        </tr>
            }

                <tr>
                            <td><button @onclick="AddToSql" class="btn btn-success">Add</button></td>
                    <td><input @bind = "game.GameName"/></td>
                    <td><input @bind = "game.Genre"/></td>
                    <td><input @bind = "game.Price"/></td>
                            
                        <td></td>
                </tr>
            </tbody>
        </table>
}



@code {
    Game game = new();
    List<Game> gameList = Sql.Read();
    void ReadFromSql() { gameList = Sql.Read(); }
    void AddToSql()
    {
        Sql.Create(game);
        gameList = Sql.Read();
    }
    void DeleteFromSql(int id)
    {
        Sql.Delete(id);
        gameList = Sql.Read();
    }

    void UpdateFromSql(int id)
    {
        Sql.Update(id);
        gameList = Sql.Read();
    }
}

